body {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #000000;
  background-color: hsl(204, 100%, 79%);
}

header {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 4vw;
  margin-bottom: 15px;
}

h1 {
  background-color: #003f7f;
  color: #d8e5fa;
  margin-bottom: 35px;
  margin-top: 0px;
  border-radius: 50px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 0px;
}

.button-container {
  display: flex;
}

.button {
  width: 100%;
  margin-bottom: 15px;
  margin-top: 0px;
  text-decoration: none;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.button:active {
  background-color: #003f7f;
}

.picture-grid {
  display: flex;
  gap: 20px;
}

.picture {
  text-align: center;
}

.picture img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

footer {
  display: flex;
  text-align: center;
  margin: 0;
  margin-top: 50px;
}

.contact {
  width: 100%;
}
